{% extends 'base.html' %}

{% block header %}
  <h1><center>{% block title %}Pet Service{% endblock %}</center></h1>
{% endblock %}

{% block content %}
<form method="POST" id="make_appointment"></form>
<table>
    <tbody>
        <tr>
            <th>clerk ID</th>
            <th>clerk name</th>
            <th>clerk title</th>
            <th>service category</th>
            <th>price</th>
            <th>sales volume</th>
            <th>available timeslot</th>
        </tr>
    {% for n in data %}
    <tr>
        <td>{{n[0]}}</td>
        <td>{{n[1]}}</td>
        <td>{{n[2]}}</td>
        <td>{{n[3]}}</td>
        <td>{{n[4]}}</td>
        <td>{{n[5]}}</td>
        <td>
        {% for t in n[6] %}
<!--            <td><input type="number" name={{n[0]}} form="add_to_cart"/></td>-->
            <button type="submit" name="timeslot" form="make_appointment" value={{n[0]}}>{{t}}</button>
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<p><center><a href="/navigation/cart">my cart</a></center></p>
<p><center><a href="/navigation">return to navigation page</a></center></p>

{% endblock %}