{% extends 'base.html' %}

{% block header %}
  <h1><center>{% block title %}Update Information{% endblock %}</center></h1>
{% endblock %}

{% block content %}
<section class="content">
  <form method="post">
    <label for="name">name</label>
    <input name="name" id="name">
    <label for="telephone">telephone</label>
    <input type="telephone" name="telephone" id="telephone">
    <label for="memberStatus">member status</label>
    <input type="boolean" name="memberStatus" id="memberStatus">
    <label for="accountBalance">account balance</label>
    <input type="float" name="accountBalance" id="accountBalance">
    <input type="submit" value="Update">
  </form>
</section>
{% endblock %}