{% extends 'base.html' %}

{% block header %}
  <h1><center>{% block title %}User Information{% endblock %}</center></h1>
{% endblock %}

{% block content %}
<table>
    <tbody>
    <tr>
      <td><b>Name</b></td>
      <td>{{data[0]}}</td>
    </tr>

    <tr>
      <td><b>Telephone</b></td>
      <td>{{data[1]}}</td>
    </tr>
    <tr>
      <td><b>Member Status</b></td>
      <td>{{data[2]}}</td>
    </tr>
    <tr>
      <td><b>Account Balance</b></td>
      <td>{{data[3]}}</td>
    </tr>

    </tbody>
</table>
<p><a href="/navigator/user_info/update_user">update information</a></p>
{% endblock %}



